<% if(locals.FORM_ROWS){ %> 
  <form method="post">
    <% FORM_ROWS.forEach(row => { %>
    <div class="form_object">
      <% Object.keys(row).forEach(input_key => { %>
      <% const input_object = row[input_key] %>
      <% const key_data = data.settings ? data.settings[input_key] : false %>
      <% if (input_object.type === 'text') { %>
        <input 
          type="text"
          name="<%= input_key %>"
          placeholder="<%= input_object.placeholder%>"
          value="<%= key_data ||input_object?.default %>"
          <%= input_object?.disabled && 'disabled' %>
          <%= input_object?.required && 'required' %>
          class="<%= input_object?.extraClass %>"
          oninvalid="shakethis()"
        />
      <% } else if (input_object.type === 'color'){ %>
        <input
          type="color"
          name="<%= input_key %>"
          value="<%= key_data || input_object?.default %>"
        />
      <% } else if (input_object.type === 'link'){ %>
        <input
          type="url"
          name="<%= input_key %>"
          value="<%= key_data || input_object?.default %>"
          <%= input_object?.disabled && 'disabled' %>
          <%= input_object?.required && 'required' %>
          placeholder="<%= input_object.placeholder%>"
          class="input_link_css <%= input_object?.extraClass %>"
          oninvalid="shakethis()"
        />
        <% } else if(input_key === 'space'){ %>
          <br />
        <% } else if(input_key === 'header'){ %>
          <h3 onclick="copy(window.location.origin + window.location.pathname+'#<%= input_object %>')" class="copy" id="<%= input_object %>"><i class="fa-solid fa-link"></i> <%= input_object %></h3>
        <% } else if(input_key === 'text'){ %>
          <p><%- input_object %></p>
        <% } %>
      <% }) %>
    </div>
    <% }) %>
    <div class="form_object buttons">
      <button type="submit" class="submit_button">Submit</button>
    </div>
  </form>
  <script>
    function copy(text) {
      var input = document.createElement('input');
      input.setAttribute('value', text);
      document.body.appendChild(input);
      input.select();
      var result = document.execCommand('copy');
      document.body.removeChild(input);
      return result;
    }
  </script>
<% } %>