<% if(locals.FORM_ROWS){ %> 
  <form method="post">
    <% FORM_ROWS.forEach(row => { %>
    <div class="form_object">
      <% Object.keys(row).forEach(input_key => { %>
      <% const input_object = row[input_key]; %>
      <% if (input_object.type === 'text') { %>
        <input 
          type="text"
          name="<%= input_key %>"
          placeholder="<%= input_object.placeholder%>"
          value="<%= input_object?.default %>"
          <%= input_object?.disabled && 'disabled' %>
          <%= input_object?.required && 'required' %>
          class="<%= input_object?.extraClass %>"
          oninvalid="shakethis()"
        />
      <% } else if (input_object.type === 'color'){ %>
        <input
          type="color"
          name="<%= input_key %>"
          value="<%= input_object?.default %>"
        />
      <% } else if (input_object.type === 'link'){ %>
        <input
          type="url"
          name="<%= input_key %>"
          value="<%= input_object?.default %>"
          <%= input_object?.disabled && 'disabled' %>
          <%= input_object?.required && 'required' %>
          placeholder="<%= input_object.placeholder%>"
          class="input_link_css <%= input_object?.extraClass %>"
          oninvalid="shakethis()"
        />
        <% }%>
      <% }) %>
    </div>
    <% }) %>
    <div class="form_object buttons">
      <button type="submit" class="submit_button">Submit</button>
    </div>
  </form>
<% } %>