<% const userName = data.session.passport?.user.userName %>
<div class="header">
  <% if (!data.titleoverwrite){ %>
  <img class="w50px rounded center m10h" src="<%= data.session.passport?.user.profileImageUrl  %> " />
  <h2 class="m10h">👋 Welcome back <a href="https://twitch.tv/<%= userName %>" class="link"><%= userName %></a></h2>
  <% } else { %>
  <h2><%= data.titleoverwrite %></h2>
  <% } %> <% if(data.alert){ %>
  <li class="alert warn"><%= data.alert %></li>
  <% } %> <% if (data.controller?.status){ %>
  <li class="alert <%= data.controller?.status.toLowerCase() %>">Status of module : <%= data.controller?.status %></li>
  <% } %>
</div>
