<% const user = req.User() %> <% const data = req.Data() %>

<div class="header">
  <% if (!data.titleoverwrite){ %>
  <img class="w50px rounded center m10h" src="<%= user.avatar  %> " />
  <h2 class="m10h">
    👋 Welcome back <a href="https://twitch.tv/<%= user.displayName %>" class="link"><%= user.displayName %></a>
  </h2>
  <% } else { %>
  <h2><%= data.titleoverwrite %></h2>
  <% } %> <% if(data.alert){ %>
  <li class="alert warn"><%= data.alert %></li>
  <script>
    $(window).on('load', () => {
      shakethis()
    })
  </script>
  <% } %> <% if (data.message) { %>
  <li class="alert message"><%= data.message %></li>
  <% } %><% if (data.controllerStatus){ %>
  <li class="alert <%= data.controllerStatus[0].toLowerCase() %>" title="<%= data.controllerStatus[1] %>">
    Status of module : <%= data.controllerStatus[0] %>
  </li>
  <% } %>
</div>
